.main-container { }

.instrument-panel { }

.instrument { }

.glyphicon-large { 
    font-size: 150%;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}


.terminal {
    max-height:375px;
}

