.main-container { }

.instrument-panel { }

.instrument { }

.glyphicon-large { 
    font-size: 150%;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}

.terminal {
    max-height:375px;
}

.range-warning {
    color: DarkOrange;
}

.range-too-close { 
    color: Red;
}

.btn-current-steer { }
.btn-current-speed { }

.message-storage {
    visibility: hidden;
}

.from-robot-msg {
    color: Orange;
}

.to-robot-msg { 
    color: gray;
}

.warn-msg {
    color: Red;
    font-weight: bold;
}
