.main-container { }

.instrument-panel { }

.instrument { }

.glyphicon-large { 
    font-size: 150%;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}

.terminal {
    height:375px;
    max-height:375px;
    overflow-y:scroll;
}

.range-warning {
    color: DarkOrange;
}

.range-too-close { 
    color: DarkOrange;
    font-weight: bold;
}

.btn-current-steer { }
.btn-current-speed { }

.message-storage {
    visibility: hidden;
}

.from-robot-msg {
    color: Purple;
}

.to-robot-msg { 
    color: green;
}

.warn-msg {
    color: DarkOrange;
}

.vertical-align {
    display: flex;
    flex-direction: row;
    min-height:100%;
    align-items: center;
    justify-content: center;
}

.speedometer-panel {
    color:white;
    background:gray;

    margin-top:0px;
    margin-bottom:0px;
    padding:0px;

    display: flex; 
    flex-flow: column wrap;
    min-height:100%;

}

.speed-in-sync {
    color:white;
    background:green;
}

.btn-success {
    background:green;
}
